* {
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  transition-duration: 1s; /* Dodanie efektu przejścia dla płynnego przejścia obramowania */
  transition-property: border; /* Dodanie efektu przejścia dla płynnego przejścia obramowania */
  background-color: red;
}

.box:hover {
  border: 3px solid black; /* Ustawienie początkowego przezroczystego obramowania */
  /*border-color: black;  Zmiana koloru obramowania po najechaniu myszką */
}

/* 

wcześniejsze rozwiązanie z SHORTHAND (shorthand to po prostu skrócona wersja kodu)

.box {
  width: 300px;
  height: 300px;
  border: 3px solid transparent; /* Ustawienie początkowego przezroczystego obramowania 
  transition: border-color 1s; /* Dodanie efektu przejścia dla płynnego przejścia obramowania 
}

.box:hover {
  border-color: black; /* Zmiana koloru obramowania po najechaniu myszką 
}
*/
